html,
body {
    font-family: "Roboto Slab", serif;
    text-align: center;
}
/*
colors: 
color: #242424 dark gray
color: #1F2833 blue gray
color: #C5C6C7 light gray
color: #66FCF1 teal
color: #45A29E dark teal

*/

* { 
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* ----------------- Begin Nav bar -------------------*/
nav ul {
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: #242424;
}

nav ul li {
    display: flex;
    margin: 10px;

}
/* ----------------- End Nav bar -------------------------*/
/* ----------------- Begin Home Section -------------------*/
.home {
    background: url(/img/colorado.jpg);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    top: 0;
    min-height: 55vh;
    padding-top: 45vh; 
}

.home * {
    padding-bottom: 2vh;
}
.home h1 {
    text-shadow: 1px 1px #242424;
    color: #66FCF1;
    font-size: 6vh; 
}

.home p {
    color: whitesmoke;
    text-shadow: 1px 1px #242424;
    font-size: 4vh;
}
/* ----------------- End Home Section -------------------*/
/* ----------------- Begin About Section -------------------*/
.about {
    top: 0;
    min-height: 55vh;
    padding-top: 10vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    background-color: whitesmoke;

}
.about * {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    text-align: left;
}
.about h1 {
    font-size: 8vh;
    color: #45A29E;
    align-self: center;

}

.about h3 {
    font-size: 4vh;
}

.about p {
font-size: 3vh;
}

/* ----------------- End About Section -------------------*/
/* ----------------- Begin Porfolio Section -------------------*/
.portfolio {
    top: 0;
    background: #242424;
    min-height: 55vh;
    padding-top: 10vh; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-bottom: 3vh;
}

.portfolio h1 {
    font-size: 8vh;
    color: #45A29E;
    align-self: center;
    padding-bottom: 2vh;
}

.projectRow {
    margin-bottom: 1vh;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
}

.projectRow img {
    width: 100%;
    margin-top: 4vh;

}

.projectRow .projectDetails {
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 2vh;
    text-align: left;

}

.projectRow h4 {
    color: whitesmoke;
    font-size: 3vh;
}


/* ----------------- End Portfolio Section -------------------*/
.boyAndHisDog {
    background: url(/img/boyAndHisDog.jpg);
    background-size:cover;
    background-position:left bottom;
    background-attachment:fixed;
    top: 0;
    max-height: 50vh;
    padding-top: 45vh; 
}

/* ----------------- Begin Contact Section -------------------*/
.contact {
    top: 0;
    background-color: #242424;
    min-height: 15vh;
    padding-top: 5vh; 
    color: whitesmoke;
}

/* ----------------- End Contact Section -------------------*/
/* ----------------- Begin Footer Section -------------------*/

footer {
    padding: 10px;
    background: #242424;
    color: whitesmoke;
    line-height: 2vh;
    font-size: 2vh;
  }
  
footer a {
    color: whitesmoke;
}
/* ----------------- End Footer Section -------------------*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav ul {
        justify-content: flex-end;
    }

    li a:hover {
        color: #66FCF1;
    }


    .projects {
        padding-left: 5vw;
        padding-right: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .projectRow {
        display: flex;
        flex-direction: column;
        width: 24vw;
    }

    .projectRow img {
        max-width: 26vw;
    }

    .portfolio h1 {
        text-align: center;
        vertical-align: center;
    }
} 

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {} 

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1600px) {}