body {
  background-color: #888;
}

table {
  margin: auto;
  background-color: #222;
  width: 500px;
  max-width: 500px;
  height: 500px;
  text-align: center;
  border-radius: 6px;
  padding-right: 10px;
  margin-top: 200px;
}

input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 100px;
  height: 70px;
  float: center;
  margin: 5px;
  font-size: 30px;
  margin-bottom: 15px;
}

#display {
  width: 475px;
  max-width: 500px;
  font-size: 40px;
  text-align: right;
  background-color: #bcbc92;
  color:#111;
  padding-right:10px;
}

.operator {
  background-color: #A3BCBB;
}

#clear {
  background-color: #FFA1A1;
}

.title {
  text-align: center;
  vertical-align: center;
  color: purple;
  font-size: 36pt;
}